version: '3.8'

services:
  app:
    build: .
    container_name: home_energy_emulator
    restart: unless-stopped # 開発中の設定
    # restart: always # ラズパイ起動時に自動実行したいときには 'always' に変える
    ports:
      - "8080:8080" # NiceGUI / Web Interface
      - "3610:3610/udp" # ECHONET Lite UDP
    network_mode: "host" # [Linux/Ubuntu用] マルチキャスト通信のために推奨。有効化時はports設定は無視されます。
    environment:
      - TZ=Asia/Tokyo
      - WI_SUN_DEVICE=/dev/ttyUSB0
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - ./config:/app/config
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0 # Requires usbipd-win on Windows/WSL2 or native connection on Linux
    tty: true
    stdin_open: true
